*{
  box-sizing: border-box;
}
.container-fluid{
  padding: 0;

}
.nav-link {
  font-size: 18px;
  font-family: "WorkSans";
  color: rgb(49, 69, 132) !important;
  font-weight: bold;
  line-height: 1.153;
}


.navbar_container{
  width: calc(100% - 500px);
  margin:5rem;
  display: flex;
  justify-content: space-between;
}
/* .navbar-logo{
  position: absolute;
  left: -50px;
  top: 10px;
} */
.contact_us-btn{
  color: rgb(255, 57, 70) ;
  border: none;
}
.contact_us-btn:hover{
  color: rgb(255, 57, 70) ;
  background-color: white;
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

li {
  list-style-type: none;
}

.arrow {
  width: 25px;
   height: 15px;
}
.container_title{
  
  display: flex;
  max-width: 1180px;
  margin: 0 auto;
  position: relative;
}
.title h1{
font-size: 55px;
  font-family: "WorkSans";
  color: rgb(49, 69, 132) !important;
  font-weight: bold;
}
.title{
  
  
  display: block;
  margin: auto;
}
.title p{
  margin: 45px 20px 45px 0px;
  
    font-size: 18px;
    font-family: "WorkSans";
    color: rgb(110, 117, 122);
    line-height: 1.667;
  
  
}

.title_img{
  margin-top: 110px;
  height: 680px;
  width: 760px;
 position: relative;
}
.title_img-image{
  position: absolute;
  top: 0;
  left: 100px;
  width: 100%;
  height: 100%;

}
.more_about-us-btn{
  font-size: 18px;
  font-family: "WorkSans";
  color: rgb(49, 69, 132);
  font-weight: semi-bold;
  line-height: 1.153;
  background-color: white;
  border: none;
  padding: 20px 30px 20px 30px;
}
.get_in-touch-btn{
  font-size: 18px;
  font-family: "WorkSans";
  color: rgb(49, 69, 132);
  font-weight: semi-bold;
  line-height: 1.153;
  background-color: white;
  border: none;
  padding: 20px 30px 20px 30px;
}

.more_about-us-btn:hover {
  font-size: 18px;
  font-family: "WorkSans";
  color: rgb(255, 255, 255);
  background-color:rgb(255, 57, 70) ;
  font-weight: bold;
  line-height: 1.153;
  border-radius: 30px;
}

.get_in-touch-btn:hover{
  font-size: 18px;
  font-family: "WorkSans";
  color: rgb(255, 255, 255);
  background-color:rgb(255, 57, 70) ;
  font-weight: bold;
  line-height: 1.153;
  border-radius: 30px;
}

.p-3{
  height: 280px;
  max-width: 375px;
  flex-basis: 375px;
  
}
.coding1{
  background-image: url(img/coding1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.coding2{
  background-image: url(img/coding2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.coding3{
  background-image: url(img/coding3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.coding4{
  background-image: url(img/coding4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.coding5{
  background-image: url(img/coding5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.coding6{
  background-image: url(img/coding6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid_container{
  display: flex;
  justify-content: center;
}
.container{
  max-width: 1180px;
}
.grid_text1{
  margin-top: 190px;
  font-size: 48.425px;
    font-family: "WorkSans";
    color: rgb(49, 69, 132);
    font-weight: bold;
    line-height: 1.239;

}
.grid_text{
  margin-bottom: 80px;
  font-size: 48.425px;
    font-family: "WorkSans";
    color: rgb(49, 69, 132);
    font-weight: bold;
    line-height: 1.239;
}
.grid_text-after{
  margin-top: 55px;
text-align: center;
    font-size: 18px;
    font-family: "WorkSans";
    color: rgb(255, 57, 70);
    font-weight: bold;
    line-height: 1.153;
}
.contact_us-container{
  max-width: 1180px;
  margin: 300px auto 0;
    font-size: 18px;
    font-family: "WorkSans";
    color: rgb(255, 57, 70);
    font-weight: bold;
    line-height: 1.153;
}
.input_container{
  justify-content: center;
  display: flex;
}
.input_email{
  display: flex;
  width: 50%;
  margin-right: 30px;
  background-color: rgb(244, 250, 254);
  height: 60px;
  border: none;
  font-size: 18px;
  font-family: "WorkSans";
  color: rgb(49, 69, 132);
  font-weight: bold;
  line-height: 1.153;
}
.input_subject{
  display: flex;
  width:50%;
  background-color: rgb(244, 250, 254);
  height: 60px;
  border: none;
  font-size: 18px;
  font-family: "WorkSans";
  color: rgb(49, 69, 132);
  font-weight: bold;
  line-height: 1.153;
}
.input_email::placeholder,
.input_subject::placeholder,
.input_message::placeholder{
  color: blue;
}
.input_message{
  padding-top: 0;
  margin-top: 20px;
  height: 120px;
  display: flex;
  width: 100%;
  background-color: rgb(244, 250, 254);
  border: none;
  font-size: 18px;
  font-family: "WorkSans";
  color: rgb(49, 69, 132);
  font-weight: bold;
  line-height: 1.153;
}
.Send_message-btn{
  display: block;
  margin: 70px auto 0;
  font-size: 18px;
  font-family: "WorkSans";
  color: rgb(49, 69, 132);
  font-weight: semi-bold;
  line-height: 1.153;
   background-color: white; 
  border: none;
  padding: 20px 30px 20px 30px; 
}
.Send_message-btn:hover{
  color: rgb(255, 255, 255);
  background-color:rgb(255, 57, 70) ;
  font-weight: bold;
  line-height: 1.153;
  border-radius: 30px;
}
.footer_container{
  text-align: center;
  margin-top: 60px;
  /* max-width: 1920px; */
  height: 400px;
  background-color: rgb(49, 69, 132);
}
.doob_text{
  padding-top: 65px;
    font-size: 18px;
    font-family: "WorkSans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.153;
}
.creativity_text{
  margin-top: 25px;
    font-size: 48.425px;
    font-family: "WorkSans";
    color: rgb(255, 57, 70);
    font-weight: bold;
    line-height: 1.239;
}
.footer_menu-li{
  display: inline;
  margin-right: 10px;
  
}

.footer_menu-li a{
  text-decoration: none;
}

.rights {
  font-size: 14px;
  font-family: "WorkSans";
  color: rgb(255, 255, 255);
  line-height: 1.483;
}
.social_networks{
  margin-top: 20px;
}
.facebook{
  margin-right: 35px;
  height: 30px;
  width: 15px;
}
.twitter{
  margin-right: 35px;
  height: auto;
  width: 34px;
}
.dribble{
  margin-right: 0;
  height: auto;
  width: 34px;
}

.navbar_img-container{
  flex-basis: 10%;
}

.navbar_img{
  width: 67px;
  height: 31px;
}






















@media (max-width: 1390px) {
  .title_img-image{
    position:static;
    height: auto;
  }

}
@media (max-width: 1280px) {
  .navbar_img-container{
    display: none;
  }
  .navbar_container {
   width: 97%;
   margin: 1rem;
  }
  .navbar{
    flex-basis: 100% !important;
  }

}

@media (max-width: 770px) {

  .title_img{
    
    width: auto;
  }
  .title {
    margin: 100px 10px 0 10px;
  }
  .navbar_container{
    margin: 10px 10px 0 10px;
    
  }
  .small_display-none{
    display: none !important;
  }
  .p-3 {
    height: 200px;
  }
  .carousel {
    height: 450px;}

}

@media (max-width: 430px) {
  .carousel{
    display: none;
  }
    .grid_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto auto;
  }
  .col-4{
   width: 100%;
  }
  .p-3 {
    height: 280px;
  }
  .grid_text1{
    margin-top: 90px;
  }
  .contact_us-container{
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar_container {
    width: auto;
   }
}